<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-sign-in"></i> {{ headerTitle }}
            </h1>
        </div>
    </div>

    <div class="row" ng-hide="loading">
        <div class="col-md-6 col-md-offset-3">
            <form>

                <div class="form-group">
                    <div class="form-group has-feedback">
                        <label for="orderDate">Date From Advanced Forms: </label>
                        <input type="text" class="form-control has-feedback-right" id="orderDate" placeholder="MM/DD/YYYY">
                        <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                        <!-- <span id="inputSuccess2Status" class="sr-only">(success)</span> -->
                    </div>
                </div>

                <div class="form-group">
                    <label for="orderInDate">Date Picker: </label>
                    <input type="text" class="form-control datePicker" id="orderInDate" placeholder="MM/DD/YYYY">
                </div>

                <div class="form-group">
                    <label for="ratePerMonth">Rate Per Month: </label>
                    <input type="number" class="form-control" id="ratePerMonth" placeholder="0.00" ng-model="product.ratePerMonth">
                </div>

                <!-- <div class="form-group">
                    <label for="containerType">Container Type: </label>
                    <select class="form-control" id="containerType" ng-model="product.containerType">
                        <option>Box</option>
                        <option>Bag</option>
                    </select>
                </div> -->

                <div class="pull-right">
                    <a class="btn btn-default" href="/viewproducts">Cancel</a>
                    <button type="submit" class="btn btn-primary" ng-click="addProduct();" ng-show="insert">Add Product</button>
                    <button type="submit" class="btn btn-primary" ng-click="updateProduct();" ng-show="update">Update Product</button>
                    <button type="submit" class="btn btn-danger" ng-click="deleteProduct();" ng-show="delete">Delete Product</button>
                </div>

            </form>
        </div>
    </div>

    <br/>

    <div class="row" ng-show="success">
        <!-- <div class="col-md-8 col-md-offset-2">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <button type="button" class="close close-new-saved pull-right" aria-label="Close" onClick="hideSuccessSavePanel();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="panel-title">{{ successProduct.name }}</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped table-responsive" ng-hide="loading">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Rate Per Month</th>
                                    <th>Container Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ successProduct.name }}</td>
                                    <td>{{ successProduct.ratePerMonth }}</td>
                                    <td>{{ successProduct.containerType }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    <p class="text-center" ng-show="loading">
        <span class="fa fa-spinner fa-pulse fa-3x"></span>
    </p>

</div>
