<style>
    .margin-top {
        margin-bottom: 0px !important;
        margin-top: 5px;
    }
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-sign-in"></i> {{ headerTitle }}
            </h1>
        </div>
    </div>

    <div class="row" ng-hide="loading">
        <div class="col-md-8 col-md-offset-2">
            <form>

                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="lotNumber">Lot Number: </label>
                        <p class="form-control-static" id="lotNumber"><b>{{ order.lotNumber }}</b></p>
                    </div>

                    <div class="form-group col-xs-6">
                        <label for="orderInDate">In Date: </label>
                        <div class="input-group date">
                            <input id="orderInDate" type="text" class="form-control post-success-disabled" placeholder="DD/MM/YYYY" ng-model="order.inDate">
                            <span class="input-group-addon">
                            <i class="fa fa-calendar-o"></i>
                        </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="customerName">Customer Name: </label>
                    <input id="customerName" type="text" class="form-control customerName-control post-success-disabled" placeholder="Enter customer name here..." ng-model="order.customerName">
                </div>

                <div class="form-group">
                    <label for="orderDetailsTable">Order Details: </label>
                    <div class="table-responsive" id="orderDetailsTable">
                        <table class="table table-bordered table-hover table-striped table-responsive" ng-hide="loading">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Rate Per Month</th>
                                    <th>Container Type</th>
                                    <th>Quantity</th>
                                    <th>Discount</th>
                                    <th ng-hide="success">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="orderProduct in order.orderProducts">
                                    <td>
                                        <p class="form-control-static">{{ orderProduct.name }}</p>
                                    </td>
                                    <td>
                                        <p class="form-control-static">{{ orderProduct.ratePerMonth }}</p>
                                    </td>
                                    <td>
                                        <p class="form-control-static">{{ orderProduct.containerType }}</p>
                                    </td>
                                    <td>
                                        <p class="form-control-static">{{ orderProduct.quantity }}</p>
                                    </td>
                                    <td>
                                        <p class="form-control-static">{{ orderProduct.discount }}</p>
                                    </td>
                                    <td ng-hide="success">
                                        <button type="submit" class="fa fa-edit btn btn-xs btn-warning margin-top" ng-click="editOrderDetailRow($index);"> Edit</button>
                                        <button type="submit" class="fa fa-trash btn btn-xs btn-danger margin-top" ng-click="removeOrderDetailRow($index);"> Remove</button>
                                    </td>
                                </tr>

                                <tr class="new-order-detail" ng-hide="success">
                                    <td>
                                        <select class="form-control" ng-model="rawOrderProduct.name" ng-hide="isEditRow" ng-change="getSelectedProductDetails();">
                                            <option ng-repeat="productOption in products">
                                                {{ productOption.name }}
                                            </option>
                                        </select>
                                        <p class="form-control-static" ng-show="isEditRow">{{ product.name }}</p>
                                    </td>

                                    <td>
                                        <p class="form-control-static">{{ product.ratePerMonth }}</p>
                                    </td>

                                    <td>
                                        <p class="form-control-static">{{ product.containerType }}</p>
                                    </td>

                                    <td>
                                        <input id="productQuantity" type="number" class="form-control" ng-model="product.quantity">
                                    </td>

                                    <td>
                                        <input id="discount" type="number" class="form-control" ng-model="product.discount">
                                    </td>

                                    <td>
                                        <button type="submit" class="btn btn-xs btn-primary margin-top" ng-click="addNewOrderDetailRow();">Add to Order</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="pull-right">
                    <a class="btn btn-default" href="/viewinorders">Cancel</a>
                    <button type="submit" class="btn btn-primary" ng-click="addInOrder();" ng-show="insert" ng-hide="success">Add In Order</button>
                    <button type="submit" class="btn btn-primary" ng-click="updateProduct();" ng-show="update">Update In Order</button>
                    <button type="submit" class="btn btn-danger" ng-click="deleteProduct();" ng-show="delete">Delete In Order</button>

                    <button type="submit" class="btn btn-primary" ng-click="deleteProduct();" ng-show="success">Generate Recipt</button>
                </div>

            </form>
        </div>
    </div>

    <p class="text-center" ng-show="loading">
        <span class="fa fa-spinner fa-pulse fa-3x"></span>
    </p>

</div>
