<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-cubes"></i> Products
                <!-- <small>These products are available for entry.</small> -->
            </h1>
        </div>
    </div>

    <p class="text-center" ng-show="loading">
        <span class="fa fa-spinner fa-pulse fa-3x"></span>
    </p>

    <!-- <div class="alert alert-danger" role="alert" ng-show="(!success && !loading)">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error: {{ errorData }}</span>
    </div> -->

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-responsive" ng-hide="loading">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Rate Per Month</th>
                    <th>Container Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{ product.name }}</td>
                    <td>{{ product.ratePerMonth }}</td>
                    <td>{{ product.containerType }}</td>
                    <td>
                        <a href="/product/{{ product._id }}"><i class="fa fa-fw fa-edit"></i> Edit</a>
                        <b>|</b>
                        <a href="/product/delete/{{ product._id }}"><i class="fa fa-fw fa-trash"></i> Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
