<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-cubes"></i> {{  headerTitle  }}
            </h1>
        </div>
    </div>

    <div class="row" ng-hide="loading">
        <div class="col-md-6 col-md-offset-3">
            <form>
                <div class="form-group">
                    <label for="productName">Product Name: </label>
                    <input type="text" class="form-control delete-mode-disabled" id="productName" placeholder="Product Name" ng-model="product.name">
                </div>

                <div class="form-group">
                    <label for="ratePerMonth">Rate Per Month: </label>
                    <input type="number" class="form-control delete-mode-disabled" id="ratePerMonth" placeholder="0.00" ng-model="product.ratePerMonth">
                </div>

                <div class="form-group">
                    <label for="containerType">Container Type: </label>
                    <select class="form-control delete-mode-disabled" id="containerType" ng-model="product.containerType">
                        <option>Box</option>
                        <option>Bag</option>
                    </select>
                </div>

                <br/>
                <div class="form-group" ng-show="delete">
                    <h3><i class="fa fa-fw fa-warning"></i> {{ message}} </h3>
                </div>

                <div class="pull-right">
                    <a class="btn btn-default" href="/viewproducts">Cancel</a>
                    <button type="submit" class="btn btn-primary" ng-click="addProduct();" ng-show="insert">Add Product</button>
                    <button type="submit" class="btn btn-primary" ng-click="updateProduct();" ng-show="update">Update Product</button>
                    <button type="submit" class="btn btn-danger" ng-click="deleteProduct();" ng-show="delete">Delete Product</button>
                </div>
            </form>
        </div>
    </div>

    <br/>
    <div class="row" ng-show="success">
        <div class="col-md-6 col-md-offset-3">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <button type="button" class="close close-new-saved pull-right" aria-label="Close" onClick="hideSuccessSavePanel();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="panel-title">{{ successProduct.name }}</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped table-responsive" ng-hide="loading">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Rate Per Month</th>
                                    <th>Container Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ successProduct.name }}</td>
                                    <td>{{ successProduct.ratePerMonth }}</td>
                                    <td>{{ successProduct.containerType }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center" ng-show="loading">
        <span class="fa fa-spinner fa-pulse fa-3x"></span>
    </p>

</div>
