<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- this one was originally present -->
    <!-- <link href='/stylesheets/style.css' rel='stylesheet' /> -->

    <!-- Custom CSS -->
    <link href='/stylesheets/sb-admin.css' rel='stylesheet' />

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome <%= name %>, from new index page of express manage app.</p>




</body>

</html>
