<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- this one was originally present -->
    <!-- <link href='/stylesheets/style.css' rel='stylesheet' /> -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css" />
    <!-- Custom CSS -->
    <link href='/stylesheets/sb-admin.css' rel='stylesheet' />
    <!-- Font-awesome -->
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css" />

    <!-- Jquery -->
    <script src="/libs/jquery/dist/jquery.js"></script>
    <!-- Bootstrap js  -->
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>

    <h1>
        <%= heading %>
    </h1>
    <br/>
    <h3>
        <%= message %>
    </h3>

    <a href="/i" class="navbar-brand">Go back to home </a>

</body>

</html>
